<template>
    <div class="card">
        <div class="card-body">
            <form @submit.prevent="sendForm">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Nombre</label>
                    <input type="text" class="form-control" aria-describedby="emailHelp" v-model="name">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Apellido</label>
                    <input type="text" class="form-control" aria-describedby="emailHelp" v-model="lastname">  
                </div><div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Correo</label>
                    <input type="text" class="form-control" aria-describedby="emailHelp" v-model="email">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Celular</label>
                    <input type="number" class="form-control" aria-describedby="emailHelp" v-model="phone">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Área</label>
                    <input type="text" class="form-control" aria-describedby="emailHelp" v-model="area">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Mensaje</label>
                    <textarea name="" id="" cols="30" rows="3" class="form-control" v-model="message"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
  </template>


<script>

  import axios from "axios";

  export default {
      data(){
          return{
             title:"as",
             name:"",
             lastname:"",
             email:"",
             phone:0,
             area:"",
             message:""
          }
      },
      methods:{
        sendForm(){
            axios.post('http://127.0.0.1:8000/api/newContact/', {
                "name" : this.name,
                "apellido" : this.lastname,
                "correo": this.email,
                "celular": this.phone,
                "area":this.area,
                "mensaje":this.message
            })
            .then(function (response) {
                if (response.data.process) {
                    Swal.fire(
                        'Great',
                        response.data.message,
                        'success'
                    )

                    setInterval(function(){
                        location.reload();
                    },2000)
                }else{
                    Swal.fire(
                        'Alert',
                        response.data.message,
                        'info'
                    )
                }
            })
            .catch(function (error) {
                console.log(error);
            });
        }
      }
  }
</script>
  