<template>
    <div class="card">
        <h4>Message List</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Author</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="message in data">
                    <td>{{message.name}}</td>
                    <td>{{message.mensaje}}</td>
                </tr>
            </tbody>
        </table>
    </div>
  </template>


<script>

  import axios from "axios";

  export default {
      data(){
          return{
             data:[]
          }
      },
      mounted(){
        this.GetMessages()
      },
      methods:{
       async  GetMessages(){
            const r = await axios.get('http://127.0.0.1:8000/api/contact');
            const result = r.data;
            this.data = result;
        }
      }
  }
</script>
  