<script setup>

// Importamos todos los componentes de la página
import Form from './components/FormComponent.vue'
import Table from './components/TableComponent.vue'

</script>


<template>
  <div class="container-fluid">
    <br>
    <div class="row">
      <h2>Technical Test Iridian</h2>
      <div class="col-md-6">
        <Form/>
      </div>
      <div class="col-md-6">
        <Table/>
      </div>
    </div>
  </div>
</template>
